H1 {
color: blue;
font-size: 200%;
border-bottom: 2px solid blue;
text-align: center;
background-color: #808080;
}
H1 EM {
color: red;
}
EM {
color: green;
}
P {
border : 1px solid black;
padding : 10px 100px;
margin : 20px 5px;
}